body {
	background-color: #FFF;
	text-align: center;
	font-family: AmaticSC-Regular;
    font-size: 20px;
}
@font-face {
	font-family: AmaticSC-Regular;
	src: url('./AmaticSC-Regular.ttf') format('truetype');
}
#content > h1 {
    font-size: 40px; "Kristy Palleson"; Arial, Helvetica, Geneva;
}
#header {
	color: #000;
	text-align: center;
    font-size: 40px!important;
}    
#content > h2 {
		}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    background-color: #FFF;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F9E1E1;
}